* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #f8f8f8;
    /* cursor: url("../assets/images/cursorOutline.png") 0 0, auto; */
    /* cursor: none; */
    overflow: hidden;
    font-family: Arial, sans-serif;
}
